.lista__em-alta{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 5%;
}
.em-alta {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    margin-left: 3.5%;

}
.em-alta:hover{
    margin: 0 40px;
    transform: scale(1.1);
}

