.redes-sociais {
    display: flex;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 2.5%;
}
.redes {
    margin: 1%;
}
.menu-rodape {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
}
.menu-rodape__item {
    color: gray;
    padding-bottom: 9%;

}
.codigo-servico {
    background-color: black;
    border-color: gray;
    color: gray;
    margin-left: 3%;
    padding: 0.5%;
}
.copyrigth {
    color: gray;
    margin-left: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
}