.lista__series-execentricas{
    color: white;
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    margin-left: 3.5%;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
section {
    position: relative;
    display: grid;
    grid-gap: 0.1em;
    grid-template-columns: repeat(5, auto);
}
  
.item {
    transition: 250ms all;
}
  
.-animation:hover {
    margin: 0 40px;
    transform: scale(1.1);
}
  
.arrow__btn {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
  
.arrow__btn i {
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.637);
}
  
.arrow__btn i:hover {
    color: white;
    transform: scale(1.15);
}
  
.arrow__btn:nth-of-type(1) {
    top: -16px;
    bottom: -10px;
    left: 0;
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(14, 14, 14) 100%
    );
}
  
.arrow__btn:nth-of-type(2) {
  top: -16px;
  bottom: -10px;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}